{% extends 'base_accounts.html' %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    <strong>Success!</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">Your Excurcus account has been created.</h5>
    <p class="card-text">We've sent an email with an activation link to your email address. Please click that link to activate your account.</p>
    <!-- .36<a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
{% endblock %}




<!-- <a href="{% url 'home' %}" class="btn btn-secondary">Return to homepage</a> -->